<br/>
<br/> 
<h4 align="left">
<span style="color:blue">Try to solve the practical on your own ...</span>
</h4>
<br/>
<br/> 
<p>
If you do not succeed or you would like to check your answers, click on the button 
<strong>'Reveal answers'</strong>.
</p>