<br/>
<br/> 
<h4 align="left">
<span style="color:blue">Try to solve the practical ...</span>
</h4>
<br/>
<br/> 
<p>
If you do not succeed or you would like to check your answers press on the button 
<strong>'Reveal answers'</strong>.
</p>