<br/>
<h4 align="left">
<span style="color:blue">Question 3</span>
</h4>
<br/>

<p>
<strong>Which of the following statements is correct regarding the conditional 
independence assumption?</strong>
</p>

