<br/>
<h4 align="left">
<span style="color:blue">Question 4</span>
</h4>
<br/>

<p>
In a longitudinal study on patients with elevated cholesterol levels some follow-up 
measurements are missing due to incorrect assignment of the name label on the blood sample
in the laboratory.
</p>

<p>
<strong>What type of missing data mechanism is that?</strong>
</p>

