<br/>
<h4 align="left">
<span style="color:blue">Question 4</span>
</h4>
<br/>

<p>
From a technical point of view, fitting GLMMs is a challenging task because one needs to 
carefully choose the numerical algorithms to approximate the likelihood of the model.
</p>

<p>
<strong>Which of the following options would you choose for grouped count data (i.e., 
Poisson data) with in general low number of counts?</strong>
</p>

