<h1 align="center">
    <strong>
        <span style="color:blue">Statistical Analysis of Repeated Measurements Data</span>
    </strong>
</h1>
<br/>
<br/> 
<br/> 
<h2 align="center">
    <strong>Dimitris Rizopoulos</strong>
</h2>
<h3 align="center">
    Department of Biostatistics, Erasmus MC
</h3>
<h3 align="center">
    <a href="mailto:d.rizopoulos@erasmusmc.nl">d.rizopoulos@erasmusmc.nl</a>
</h3>
<br/> 
<br/> 
<h3 align="center">
    NIHES MSc Programs
</h3>
